<h1>New</h1>
<h2>Sign up</h2>

<%= simple_form_for @user, url: users_admin_index_path(@user) do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>
  <p>editor: <%= f.select :editor, [['No', false], ['Yes', true]] %></p>
  <p>admin: <%= f.select :admin, [['No', false], ['Yes', true]] %></p>
  <%= f.button :submit, 'Submit', class: 'btn btn-primary' %>
<% end %>


