<h1>Articles#edit</h1>
<%= simple_form_for [@article] do |f| %>
  <%= f.input :title %>
  <%= f.input :content %>
  <%= f.input :category, collection: @categories.each {|cat| cat}, include_blank: false %>
  <%= f.submit 'Edit Article', class: 'btn btn-outline-dark' %>
<% end %>
