<div class="user-actions">
  <% if policy(Article).new? %>
    <h4>Editor Actions</h4>
    <p><%= link_to 'Create Article', new_article_path %></p>
  <% end %>
  <% if policy(User).new? %>
    <h4>Admin Actions</h4>
    <p><%= link_to 'Add User', new_users_admin_path %></p>
    <p><%= link_to 'All Users', users_admin_index_path %></p>
  <% end %>
</div>

<div class="article-categories">
    <% @categories.each do |category| %>
      <div class="category">
      <h1 class='category-title'><%= link_to category.name, articles_path(category: category) %></h1>
      <div class="category-articles">
        <% category.last_3_articles.each do |article| %>
          <p><%= link_to article.title, article_path(article) %></p>
        <% end %>
      </div>
    </div>
    <% end %>
</div>

