<section class="container">
  <div class="has-text-centered">
    <h3 class="is-size-3 has-text-danger"><%= @article.title %></h3>
    <small>Created by <%= @article.user.email %></small>
    <button class="button">
      <%= link_to "New", new_article_path %>
    </button>
    <button class="button">
      <%= link_to "Edit", edit_article_path(@article) %>
    </button>
    <button class="button">
      <%= link_to "Delete Article", [@article], method: :delete, data: { confirm: 'Are you sure you want to delete this article?' } %>
    </button>
  </div>
</section>
